body,
html,
a {
  font-family: 'Ubuntu', sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

a:hover {
  color: #222323;
}

ul {
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 1em;
  color: #9b9b9b;
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222323;
  font-size: 2.575rem;

  @media only screen and (max-width: 414px) {
    font-size: 1.625rem;
  }
}

p {
  color: #343d48;
  font-size: 1.125rem;
}

h1 {
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: none;
  color: #5b4a68;
}

*:focus {
  outline: none;
}
